body {
    margin: 0;
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: orange;
  }
  
  h1 {
    background-color: orange;
    color: purple;
  }

  h2 {
    background-color: purple;
    color: orange;
  }
  
  .help {
      background-color: orange;
      border-radius: 4px;
      font-size: .8em;
  }

  code {
    font-family: Arial;
  }
  
  .app {
    background: purple;
    padding: 30px;
    height: 100vh;
  }
  
  .todo-list{
    background-color: orange;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
  
  .todo{
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
    padding: 3px 10px;
    font-size: 24px;
    
  }
  
  .input{
    width: 100%;
    box-sizing: border-box;
    border: 1px purple dashed;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 24px;
  }
  